@font-face {
  font-family: "Agnosco";
  src: url("Agnosco.eot");
  src:
    url("Agnosco.eot?#iefix") format("embedded-opentype"),
    url("Agnosco.woff2") format("woff2"),
    url("Agnosco.woff") format("woff"),
    url("Agnosco.ttf") format("truetype"),
    url("Agnosco.svg#Agnosco") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "acogessic";
  src: url("acogessic.eot");
  src:
    url("acogessic.eot?#iefix") format("embedded-opentype"),
    url("acogessic.woff2") format("woff2"),
    url("acogessic.woff") format("woff"),
    url("acogessic.ttf") format("truetype"),
    url("acogessic.svg#acogessic") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atonic";
  src: url("Atonic-Regular.eot");
  src:
    url("Atonic-Regular.eot?#iefix") format("embedded-opentype"),
    url("Atonic-Regular.woff2") format("woff2"),
    url("Atonic-Regular.woff") format("woff"),
    url("Atonic-Regular.ttf") format("truetype"),
    url("Atonic-Regular.svg#Atonic-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bedstead";
  src: url("Bedstead.eot");
  src:
    url("Bedstead.eot?#iefix") format("embedded-opentype"),
    url("Bedstead.woff2") format("woff2"),
    url("Bedstead.woff") format("woff"),
    url("Bedstead.ttf") format("truetype"),
    url("Bedstead.svg#Bedstead") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bedstead";
  src: url("Bedstead-Bold.eot");
  src:
    url("Bedstead-Bold.eot?#iefix") format("embedded-opentype"),
    url("Bedstead-Bold.woff2") format("woff2"),
    url("Bedstead-Bold.woff") format("woff"),
    url("Bedstead-Bold.ttf") format("truetype"),
    url("Bedstead-Bold.svg#Bedstead-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bedstead";
  src: url("Bedstead-BoldCondensed.eot");
  src:
    url("Bedstead-BoldCondensed.eot?#iefix") format("embedded-opentype"),
    url("Bedstead-BoldCondensed.woff2") format("woff2"),
    url("Bedstead-BoldCondensed.woff") format("woff"),
    url("Bedstead-BoldCondensed.ttf") format("truetype"),
    url("Bedstead-BoldCondensed.svg#Bedstead-BoldCondensed") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bedstead";
  src: url("Bedstead-BoldExtended.eot");
  src:
    url("Bedstead-BoldExtended.eot?#iefix") format("embedded-opentype"),
    url("Bedstead-BoldExtended.woff2") format("woff2"),
    url("Bedstead-BoldExtended.woff") format("woff"),
    url("Bedstead-BoldExtended.ttf") format("truetype"),
    url("Bedstead-BoldExtended.svg#Bedstead-BoldExtended") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bedstead";
  src: url("Bedstead-BoldExtraCondensed.eot");
  src:
    url("Bedstead-BoldExtraCondensed.eot?#iefix") format("embedded-opentype"),
    url("Bedstead-BoldExtraCondensed.woff2") format("woff2"),
    url("Bedstead-BoldExtraCondensed.woff") format("woff"),
    url("Bedstead-BoldExtraCondensed.ttf") format("truetype"),
    url("Bedstead-BoldExtraCondensed.svg#Bedstead-BoldExtraCondensed")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bedstead";
  src: url("Bedstead-BoldSemiCondensed.eot");
  src:
    url("Bedstead-BoldSemiCondensed.eot?#iefix") format("embedded-opentype"),
    url("Bedstead-BoldSemiCondensed.woff2") format("woff2"),
    url("Bedstead-BoldSemiCondensed.woff") format("woff"),
    url("Bedstead-BoldSemiCondensed.ttf") format("truetype"),
    url("Bedstead-BoldSemiCondensed.svg#Bedstead-BoldSemiCondensed")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bedstead";
  src: url("Bedstead-BoldUltraCondensed.eot");
  src:
    url("Bedstead-BoldUltraCondensed.eot?#iefix") format("embedded-opentype"),
    url("Bedstead-BoldUltraCondensed.woff2") format("woff2"),
    url("Bedstead-BoldUltraCondensed.woff") format("woff"),
    url("Bedstead-BoldUltraCondensed.ttf") format("truetype"),
    url("Bedstead-BoldUltraCondensed.svg#Bedstead-BoldUltraCondensed")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bedstead";
  src: url("Bedstead-Condensed.eot");
  src:
    url("Bedstead-Condensed.eot?#iefix") format("embedded-opentype"),
    url("Bedstead-Condensed.woff2") format("woff2"),
    url("Bedstead-Condensed.woff") format("woff"),
    url("Bedstead-Condensed.ttf") format("truetype"),
    url("Bedstead-Condensed.svg#Bedstead-Condensed") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bedstead";
  src: url("Bedstead-Extended.eot");
  src:
    url("Bedstead-Extended.eot?#iefix") format("embedded-opentype"),
    url("Bedstead-Extended.woff2") format("woff2"),
    url("Bedstead-Extended.woff") format("woff"),
    url("Bedstead-Extended.ttf") format("truetype"),
    url("Bedstead-Extended.svg#Bedstead-Extended") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bedstead";
  src: url("Bedstead-ExtraCondensed.eot");
  src:
    url("Bedstead-ExtraCondensed.eot?#iefix") format("embedded-opentype"),
    url("Bedstead-ExtraCondensed.woff2") format("woff2"),
    url("Bedstead-ExtraCondensed.woff") format("woff"),
    url("Bedstead-ExtraCondensed.ttf") format("truetype"),
    url("Bedstead-ExtraCondensed.svg#Bedstead-ExtraCondensed") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bedstead";
  src: url("Bedstead-SemiCondensed.eot");
  src:
    url("Bedstead-SemiCondensed.eot?#iefix") format("embedded-opentype"),
    url("Bedstead-SemiCondensed.woff2") format("woff2"),
    url("Bedstead-SemiCondensed.woff") format("woff"),
    url("Bedstead-SemiCondensed.ttf") format("truetype"),
    url("Bedstead-SemiCondensed.svg#Bedstead-SemiCondensed") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bedstead";
  src: url("Bedstead-UltraCondensed.eot");
  src:
    url("Bedstead-UltraCondensed.eot?#iefix") format("embedded-opentype"),
    url("Bedstead-UltraCondensed.woff2") format("woff2"),
    url("Bedstead-UltraCondensed.woff") format("woff"),
    url("Bedstead-UltraCondensed.ttf") format("truetype"),
    url("Bedstead-UltraCondensed.svg#Bedstead-UltraCondensed") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BLOS";
  src: url("BLOS.eot");
  src:
    url("BLOS.eot?#iefix") format("embedded-opentype"),
    url("BLOS.woff2") format("woff2"),
    url("BLOS.woff") format("woff"),
    url("BLOS.ttf") format("truetype"),
    url("BLOS.svg#BLOS") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Better VCR";
  src: url("BetterVCR.eot");
  src:
    url("BetterVCR.eot?#iefix") format("embedded-opentype"),
    url("BetterVCR.woff2") format("woff2"),
    url("BetterVCR.woff") format("woff"),
    url("BetterVCR.ttf") format("truetype"),
    url("BetterVCR.svg#BetterVCR") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Coiny 2.0";
  src: url("Coiny20.eot");
  src:
    url("Coiny20.eot?#iefix") format("embedded-opentype"),
    url("Coiny20.woff2") format("woff2"),
    url("Coiny20.woff") format("woff"),
    url("Coiny20.ttf") format("truetype"),
    url("Coiny20.svg#Coiny2.0") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Coolvetica Compressed Rg";
  src: url("CoolveticaCompressedRg-Regular.eot");
  src:
    url("CoolveticaCompressedRg-Regular.eot?#iefix") format("embedded-opentype"),
    url("CoolveticaCompressedRg-Regular.woff2") format("woff2"),
    url("CoolveticaCompressedRg-Regular.woff") format("woff"),
    url("CoolveticaCompressedRg-Regular.ttf") format("truetype"),
    url("CoolveticaCompressedRg-Regular.svg#CoolveticaCompressedRg-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Coolvetica Condensed Rg";
  src: url("CoolveticaCondensedRg-Regular.eot");
  src:
    url("CoolveticaCondensedRg-Regular.eot?#iefix") format("embedded-opentype"),
    url("CoolveticaCondensedRg-Regular.woff2") format("woff2"),
    url("CoolveticaCondensedRg-Regular.woff") format("woff"),
    url("CoolveticaCondensedRg-Regular.ttf") format("truetype"),
    url("CoolveticaCondensedRg-Regular.svg#CoolveticaCondensedRg-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Coolvetica Crammed Rg";
  src: url("CoolveticaCrammedRg-Regular.eot");
  src:
    url("CoolveticaCrammedRg-Regular.eot?#iefix") format("embedded-opentype"),
    url("CoolveticaCrammedRg-Regular.woff2") format("woff2"),
    url("CoolveticaCrammedRg-Regular.woff") format("woff"),
    url("CoolveticaCrammedRg-Regular.ttf") format("truetype"),
    url("CoolveticaCrammedRg-Regular.svg#CoolveticaCrammedRg-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Coolvetica Rg";
  src: url("CoolveticaRg-Regular.eot");
  src:
    url("CoolveticaRg-Regular.eot?#iefix") format("embedded-opentype"),
    url("CoolveticaRg-Regular.woff2") format("woff2"),
    url("CoolveticaRg-Regular.woff") format("woff"),
    url("CoolveticaRg-Regular.ttf") format("truetype"),
    url("CoolveticaRg-Regular.svg#CoolveticaRg-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Corinthia";
  src: url("Corinthia.eot");
  src:
    url("Corinthia.eot?#iefix") format("embedded-opentype"),
    url("Corinthia.woff2") format("woff2"),
    url("Corinthia.woff") format("woff"),
    url("Corinthia.ttf") format("truetype"),
    url("Corinthia.svg#Corinthia") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Corsa Grotesk";
  src: url("CorsaGrotesk-Regular.eot");
  src:
    url("CorsaGrotesk-Regular.eot?#iefix") format("embedded-opentype"),
    url("CorsaGrotesk-Regular.woff2") format("woff2"),
    url("CorsaGrotesk-Regular.woff") format("woff"),
    url("CorsaGrotesk-Regular.ttf") format("truetype"),
    url("CorsaGrotesk-Regular.svg#CorsaGrotesk-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Corsa Grotesk";
  src: url("CorsaGrotesk-Thin.eot");
  src:
    url("CorsaGrotesk-Thin.eot?#iefix") format("embedded-opentype"),
    url("CorsaGrotesk-Thin.woff2") format("woff2"),
    url("CorsaGrotesk-Thin.woff") format("woff"),
    url("CorsaGrotesk-Thin.ttf") format("truetype"),
    url("CorsaGrotesk-Thin.svg#CorsaGrotesk-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cursyger";
  src: url("Cursyger.eot");
  src:
    url("Cursyger.eot?#iefix") format("embedded-opentype"),
    url("Cursyger.woff2") format("woff2"),
    url("Cursyger.woff") format("woff"),
    url("Cursyger.ttf") format("truetype"),
    url("Cursyger.svg#Cursyger") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Foo";
  src: url("Foo-Regular.eot");
  src:
    url("Foo-Regular.eot?#iefix") format("embedded-opentype"),
    url("Foo-Regular.woff2") format("woff2"),
    url("Foo-Regular.woff") format("woff"),
    url("Foo-Regular.ttf") format("truetype"),
    url("Foo-Regular.svg#Foo-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dead Hammer";
  src: url("DeadHammer.eot");
  src:
    url("DeadHammer.eot?#iefix") format("embedded-opentype"),
    url("DeadHammer.woff2") format("woff2"),
    url("DeadHammer.woff") format("woff"),
    url("DeadHammer.ttf") format("truetype"),
    url("DeadHammer.svg#DeadHammer") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Forward";
  src: url("Forward.eot");
  src:
    url("Forward.eot?#iefix") format("embedded-opentype"),
    url("Forward.woff2") format("woff2"),
    url("Forward.woff") format("woff"),
    url("Forward.ttf") format("truetype"),
    url("Forward.svg#Forward") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "fs metallic";
  src: url("fsmetallic.eot");
  src:
    url("fsmetallic.eot?#iefix") format("embedded-opentype"),
    url("fsmetallic.woff2") format("woff2"),
    url("fsmetallic.woff") format("woff"),
    url("fsmetallic.ttf") format("truetype"),
    url("fsmetallic.svg#fsmetallic") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gunny Rewritten";
  src: url("GunnyRewritten.eot");
  src:
    url("GunnyRewritten.eot?#iefix") format("embedded-opentype"),
    url("GunnyRewritten.woff2") format("woff2"),
    url("GunnyRewritten.woff") format("woff"),
    url("GunnyRewritten.ttf") format("truetype"),
    url("GunnyRewritten.svg#GunnyRewritten") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gloria script";
  src: url("Gloriascript.eot");
  src:
    url("Gloriascript.eot?#iefix") format("embedded-opentype"),
    url("Gloriascript.woff2") format("woff2"),
    url("Gloriascript.woff") format("woff"),
    url("Gloriascript.ttf") format("truetype"),
    url("Gloriascript.svg#Gloriascript") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gooseberry";
  src: url("gooseberrynormal.eot");
  src:
    url("gooseberrynormal.eot?#iefix") format("embedded-opentype"),
    url("gooseberrynormal.woff2") format("woff2"),
    url("gooseberrynormal.woff") format("woff"),
    url("gooseberrynormal.ttf") format("truetype"),
    url("gooseberrynormal.svg#gooseberrynormal") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inglobal";
  src: url("inglobal.eot");
  src:
    url("inglobal.eot?#iefix") format("embedded-opentype"),
    url("inglobal.woff2") format("woff2"),
    url("inglobal.woff") format("woff"),
    url("inglobal.ttf") format("truetype"),
    url("inglobal.svg#inglobal") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inglobal";
  src: url("inglobal-Bold.eot");
  src:
    url("inglobal-Bold.eot?#iefix") format("embedded-opentype"),
    url("inglobal-Bold.woff2") format("woff2"),
    url("inglobal-Bold.woff") format("woff"),
    url("inglobal-Bold.ttf") format("truetype"),
    url("inglobal-Bold.svg#inglobal-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inglobal";
  src: url("inglobal-BoldItalic.eot");
  src:
    url("inglobal-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("inglobal-BoldItalic.woff2") format("woff2"),
    url("inglobal-BoldItalic.woff") format("woff"),
    url("inglobal-BoldItalic.ttf") format("truetype"),
    url("inglobal-BoldItalic.svg#inglobal-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "inglobal";
  src: url("inglobal-Italic.eot");
  src:
    url("inglobal-Italic.eot?#iefix") format("embedded-opentype"),
    url("inglobal-Italic.woff2") format("woff2"),
    url("inglobal-Italic.woff") format("woff"),
    url("inglobal-Italic.ttf") format("truetype"),
    url("inglobal-Italic.svg#inglobal-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kirpich";
  src: url("Kirpich.eot");
  src:
    url("Kirpich.eot?#iefix") format("embedded-opentype"),
    url("Kirpich.woff2") format("woff2"),
    url("Kirpich.woff") format("woff"),
    url("Kirpich.ttf") format("truetype"),
    url("Kirpich.svg#Kirpich") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "koliko";
  src: url("koliko-Bold.eot");
  src:
    url("koliko-Bold.eot?#iefix") format("embedded-opentype"),
    url("koliko-Bold.woff2") format("woff2"),
    url("koliko-Bold.woff") format("woff"),
    url("koliko-Bold.ttf") format("truetype"),
    url("koliko-Bold.svg#koliko-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "koliko";
  src: url("koliko-Light.eot");
  src:
    url("koliko-Light.eot?#iefix") format("embedded-opentype"),
    url("koliko-Light.woff2") format("woff2"),
    url("koliko-Light.woff") format("woff"),
    url("koliko-Light.ttf") format("truetype"),
    url("koliko-Light.svg#koliko-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "koliko";
  src: url("koliko-Regular.eot");
  src:
    url("koliko-Regular.eot?#iefix") format("embedded-opentype"),
    url("koliko-Regular.woff2") format("woff2"),
    url("koliko-Regular.woff") format("woff"),
    url("koliko-Regular.ttf") format("truetype"),
    url("koliko-Regular.svg#koliko-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kudry Weird Headline";
  src: url("Kudry-WeirdHeadline.eot");
  src:
    url("Kudry-WeirdHeadline.eot?#iefix") format("embedded-opentype"),
    url("Kudry-WeirdHeadline.woff2") format("woff2"),
    url("Kudry-WeirdHeadline.woff") format("woff"),
    url("Kudry-WeirdHeadline.ttf") format("truetype"),
    url("Kudry-WeirdHeadline.svg#Kudry-WeirdHeadline") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Machrie";
  src: url("Macherie-SemiBold.eot");
  src:
    url("Macherie-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("Macherie-SemiBold.woff2") format("woff2"),
    url("Macherie-SemiBold.woff") format("woff"),
    url("Macherie-SemiBold.ttf") format("truetype"),
    url("Macherie-SemiBold.svg#Macherie-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mail Ray Stuff";
  src: url("MailRayStuff-Regular.eot");
  src:
    url("MailRayStuff-Regular.eot?#iefix") format("embedded-opentype"),
    url("MailRayStuff-Regular.woff2") format("woff2"),
    url("MailRayStuff-Regular.woff") format("woff"),
    url("MailRayStuff-Regular.ttf") format("truetype"),
    url("MailRayStuff-Regular.svg#MailRayStuff-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Moiamova-2";
  src: url("Moiamova2-Cyrillic.eot");
  src:
    url("Moiamova2-Cyrillic.eot?#iefix") format("embedded-opentype"),
    url("Moiamova2-Cyrillic.woff2") format("woff2"),
    url("Moiamova2-Cyrillic.woff") format("woff"),
    url("Moiamova2-Cyrillic.ttf") format("truetype"),
    url("Moiamova2-Cyrillic.svg#Moiamova2-Cyrillic") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Moiamova-1";
  src: url("Moiamova1-Cyrillic.eot");
  src:
    url("Moiamova1-Cyrillic.eot?#iefix") format("embedded-opentype"),
    url("Moiamova1-Cyrillic.woff2") format("woff2"),
    url("Moiamova1-Cyrillic.woff") format("woff"),
    url("Moiamova1-Cyrillic.ttf") format("truetype"),
    url("Moiamova1-Cyrillic.svg#Moiamova1-Cyrillic") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Miama Nueva";
  src: url("MiamaNueva.eot");
  src:
    url("MiamaNueva.eot?#iefix") format("embedded-opentype"),
    url("MiamaNueva.woff2") format("woff2"),
    url("MiamaNueva.woff") format("woff"),
    url("MiamaNueva.ttf") format("truetype"),
    url("MiamaNueva.svg#MiamaNueva") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Moiamova-3";
  src: url("Moiamova3-Cyrillic.eot");
  src:
    url("Moiamova3-Cyrillic.eot?#iefix") format("embedded-opentype"),
    url("Moiamova3-Cyrillic.woff2") format("woff2"),
    url("Moiamova3-Cyrillic.woff") format("woff"),
    url("Moiamova3-Cyrillic.ttf") format("truetype"),
    url("Moiamova3-Cyrillic.svg#Moiamova3-Cyrillic") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Moiamova-4";
  src: url("Moiamova4-Cyrillic.eot");
  src:
    url("Moiamova4-Cyrillic.eot?#iefix") format("embedded-opentype"),
    url("Moiamova4-Cyrillic.woff2") format("woff2"),
    url("Moiamova4-Cyrillic.woff") format("woff"),
    url("Moiamova4-Cyrillic.ttf") format("truetype"),
    url("Moiamova4-Cyrillic.svg#Moiamova4-Cyrillic") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Morana";
  src: url("Morana.eot");
  src:
    url("Morana.eot?#iefix") format("embedded-opentype"),
    url("Morana.woff2") format("woff2"),
    url("Morana.woff") format("woff"),
    url("Morana.ttf") format("truetype"),
    url("Morana.svg#Morana") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nasalization Rg";
  src: url("NasalizationRg-Regular.eot");
  src:
    url("NasalizationRg-Regular.eot?#iefix") format("embedded-opentype"),
    url("NasalizationRg-Regular.woff2") format("woff2"),
    url("NasalizationRg-Regular.woff") format("woff"),
    url("NasalizationRg-Regular.ttf") format("truetype"),
    url("NasalizationRg-Regular.svg#NasalizationRg-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neucha";
  src: url("Neucha.eot");
  src:
    url("Neucha.eot?#iefix") format("embedded-opentype"),
    url("Neucha.woff2") format("woff2"),
    url("Neucha.woff") format("woff"),
    url("Neucha.ttf") format("truetype"),
    url("Neucha.svg#Neucha") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neuropol X Rg";
  src: url("NeuropolXRg-Regular.eot");
  src:
    url("NeuropolXRg-Regular.eot?#iefix") format("embedded-opentype"),
    url("NeuropolXRg-Regular.woff2") format("woff2"),
    url("NeuropolXRg-Regular.woff") format("woff"),
    url("NeuropolXRg-Regular.ttf") format("truetype"),
    url("NeuropolXRg-Regular.svg#NeuropolXRg-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BOWLER";
  src: url("BOWLER-Regular.eot");
  src:
    url("BOWLER-Regular.eot?#iefix") format("embedded-opentype"),
    url("BOWLER-Regular.woff2") format("woff2"),
    url("BOWLER-Regular.woff") format("woff"),
    url("BOWLER-Regular.ttf") format("truetype"),
    url("BOWLER-Regular.svg#BOWLER-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "overdoze sans";
  src: url("overdozesans.eot");
  src:
    url("overdozesans.eot?#iefix") format("embedded-opentype"),
    url("overdozesans.woff2") format("woff2"),
    url("overdozesans.woff") format("woff"),
    url("overdozesans.ttf") format("truetype"),
    url("overdozesans.svg#overdozesans") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Penguin Attack Cyrillic";
  src: url("PenguinAttackCyrillic.eot");
  src:
    url("PenguinAttackCyrillic.eot?#iefix") format("embedded-opentype"),
    url("PenguinAttackCyrillic.woff2") format("woff2"),
    url("PenguinAttackCyrillic.woff") format("woff"),
    url("PenguinAttackCyrillic.ttf") format("truetype"),
    url("PenguinAttackCyrillic.svg#PenguinAttackCyrillic") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Phage Regular KG";
  src: url("PhageRegularKG.eot");
  src:
    url("PhageRegularKG.eot?#iefix") format("embedded-opentype"),
    url("PhageRegularKG.woff2") format("woff2"),
    url("PhageRegularKG.woff") format("woff"),
    url("PhageRegularKG.ttf") format("truetype"),
    url("PhageRegularKG.svg#PhageRegularKG") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Podarok";
  src: url("Podarok.eot");
  src:
    url("Podarok.eot?#iefix") format("embedded-opentype"),
    url("Podarok.woff2") format("woff2"),
    url("Podarok.woff") format("woff"),
    url("Podarok.ttf") format("truetype"),
    url("Podarok.svg#Podarok") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pressuru";
  src: url("Pressuru.eot");
  src:
    url("Pressuru.eot?#iefix") format("embedded-opentype"),
    url("Pressuru.woff2") format("woff2"),
    url("Pressuru.woff") format("woff"),
    url("Pressuru.ttf") format("truetype"),
    url("Pressuru.svg#Pressuru") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Relic Pro Canonic TRIAL";
  src: url("RelicPro-CanonicTRIAL.eot");
  src:
    url("RelicPro-CanonicTRIAL.eot?#iefix") format("embedded-opentype"),
    url("RelicPro-CanonicTRIAL.woff2") format("woff2"),
    url("RelicPro-CanonicTRIAL.woff") format("woff"),
    url("RelicPro-CanonicTRIAL.ttf") format("truetype"),
    url("RelicPro-CanonicTRIAL.svg#RelicPro-CanonicTRIAL") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
